
	<% var nPreguntas=quizes.length ; %>
	<% if (nPreguntas > 0) {  %>

		<h3 id=p1>Preguntas </h3><br>
	    <table id=t1>
	    <% var i; for (i=0; i < quizes.length ; i++) { %>
	    	<tr><td><a href="quizes/<%= quizes[i].id %>"><%=quizes[i].pregunta %></a></td>
	    		<td><a href="quizes/<%= quizes[i].id %>/edit"<button type="button"  class="btn">Editar</button></a></td>
	    		<td>
	    			<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
	    				<button type="summit" class="btn" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
	    					borrar
	    				</button>
	    			</form>
	    		</td>
	    	</tr>	    	
	    <% } %>
	    </table>
	    <br>	   
	    <br>
	    <a href="/quizes/new"><button type="button" style="float:left">Crear pregunta</button></a>
	    <br>	    
		<% if (tipo === 'Completo') {  %>
			<form method="get" action="/quizes" id=f1>
				<br>
				<br>
				<h4>Condición de filtrado</h4>
				<input type="text"   name="search" value="Introduce filtro"><br><br>
				<input type="submit"  value="Filtrar">
			</form>
		<% }  %>

	<% } else {  %>
		<% if (tipo === 'Completo') {  %>
			<p> No hay ninguna pregunta en la base de datos</p>
		<% } else {  %>
			<p> No hay ninguna pregunta que cumpla la condición de búsqueda</p>
		<% }  %>		
	<% }  %>


